
/*Login start*/
.sign-in_box{
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
form{
    margin: 0 auto;
}
.userbox{
    width: 460px;
    text-align: center;
    padding: 30px;
    /* box-shadow: 0 0 12px 0 rgb(0 0 0 / 15%); */
    display: block;
    border-bottom: 1px solid rgb(216, 216, 216);
}
h3{
    font-size: 28px;
    font-weight: normal;
}
.connexion{
    width: 100%;
    height: 45px;
    border-radius: 4px;
    font-size: 1.2rem;
    color: white;
    background-color: orange;
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
}
.userbox .forgot{
    margin-bottom: 16px;
}
.userbox .forgot a{
    text-decoration: none;
    color: black;
    font-weight: normal;
}
.userbox .forgot a:hover{
    text-decoration: underline;
    color: darkorange;
}
.login_field{
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: 0.6rem;
    font-size: 1.2rem;
}
.login_field.textarea{
    height: 150px;
    margin: 0;
    font-family: arial;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 3px;
}
/*Registering start*/
.login_field.name{
    display: inline;
    width: 100%;
    margin-bottom: 0
}
.userbox ul{
    display: flex;
}
.userbox ul li{
    display: inline-block;
}
.userbox ul li:first-child{
    margin-right: 16px;
}
/*Registering end */
.connect_options{
    border-top: 1px solid rgb(209, 209, 213);
    padding: 16px 8px 0px;
}
.connect_options .login_button{
    width: 100%;
    display: block;
    margin: 1rem 0;
    height: 38px;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
}
.connect_options .login_button.btn-facebook{
    background-color: #006AFF;
    border-color: #1877f2;
    color: white;
}
.connect_options .login_button.btn-google{
    background-color: white;
}
.userbox .connect_options .login_button svg{
    position: absolute;
    left: 10%;
    height: 18px;
}
.link_text{
    color: orangered;
}
/*Login start*/
/*CSS for contact page starts*/
.contact_section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    width: 95%;
    padding: 30px 12px;
    margin: 0 auto;
}
.contact_title{display: none;}
.contact_section .text-center{
    text-align: center!important;
    margin-bottom: 25px;
}
.contact_section .text-center h3{
    font-weight: bold;
}
.contact_img{
    flex: 1 1 45rem;
}
.contact_img img{
    /* height: 500px;
    width: 650px */
    width: 100%;
}
.contact_form{
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
    padding: 28px 12px 16px;
    width: 500px;
    border-radius: 5px;
    margin: 0;
    flex:1 1 30rem;
}
.contact_form label {
    display: block;
    font-weight: bold;
    color: #686868;
}
.contact_form .contact_row{
    margin-bottom: 1rem;
    flex: 0 0 50%;
    padding-left: 10px;
    padding-right: 10px;
}
.contact_form .contact_group{
    display: flex;
}
.login_field.contact{
    display: inline;
    width: 100%;
    margin: 0;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 3px;
}
.contact_button{
    display: flex;
    justify-content: center;
}
.connexion.contact{
    width: 75px;
    font-size: 16px;
    text-align: center;
}
/*CSS for contact page end*/
@media (max-width:550px) {
    .contact_section{
        width: 98%;
    }
    .contact_form{
        padding: 30px 4px 16px;
    }
}