/*Property Listing start*/
.property_container{
    margin: 0 auto;
    width: 70%;
}
/*Image containers start*/
.img_containers{
    height: 300px;
    width: 100%;
}
/**Image containers end/
/*Quick info start*/
.adress{
    display: flex;
    width: 100%;
    align-items: flex-start;
}
.property_info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 8px;
}
.column{
    text-align: center;
}
.column .column_row{
    font-weight: bold;
    font-size: 22px;
}
sup{
    font-size: 13px;
}
.column label{
    color: #767676;
}
/**Quick info end/

/*Property Details start*/
.property_details{
    display: flex;
    justify-content: space-between;
    height: 900px;
    margin-top: 16px;
}
.details_box{
    display: inline-block;
    max-width: 730px;
}
.details_box h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}
.details_box .installation{
    margin-top: 20px;
}
.contact_box{
    position: sticky;
    top: 3rem;
    display: inline-block;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    text-align: center;
    width: 300px;
    height: 150px;
}
.contact_box label{
    text-align: center;
    display: block;
}
.contact_btn{
    color: white;
    font-weight: bold;
    border-radius: 3px;
    background-color: orange;
    text-decoration: none;
    border: 1px solid darkorange;
}
/*Contact box for mobile users*/
.mobile_contact_box{
    display: none;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;
}

/*Property Details end*/
/*Property Listing end*/

@media (max-width:500px) {
    .img_containers{
        height: 230px;
    }
    .property_container{
        width: 85%;
    }
    .property_info{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }   
    .column .column_row{
        font-weight: normal;
        font-size: 18px;
    }
    .column_row.price {
        font-size: 22px;
        font-weight: bold;
    }
    .column.price{
        width: 100%;
        display: flex
    }
    .column .price_label{
        display: none;
    } 
    .contact_box{
        display: none;
    }
    .mobile_contact_box{
        display: flex;
    }
}
