/*Property Listing start*/
.property_container{
    margin: 0 auto;
    width: 70%;
}
/*Image containers start*/
.img_containers{
    height: 300px;
    width: 100%;
}
/**Image containers end/
/*Quick info start*/
.adress{
    display: flex;
    width: 100%;
    align-items: flex-start;
}
.property_info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 8px;
}
.column{
    text-align: center;
}
.column .column_row{
    font-weight: bold;
    font-size: 22px;
}
sup{
    font-size: 13px;
}
.column label{
    color: #767676;
}
/**Quick info end/

/*Property Details start*/
.property_details{
    display: flex;
    justify-content: space-between;
    /* height: 900px; */
    margin-top: 16px;
}
.details_box{
    display: inline-block;
    max-width: 730px;
}
.details_box h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}
.details_box .installation{
    margin-top: 20px;
    white-space: nowrap;
}
.installation .installation_list{
    column-count: 2;
}
.installation li::before{
    content: "• ";
}
.contact_box{
    position: sticky;
    top: 2rem;
    padding: 30px 0;
    display: inline-block;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    text-align: center;
    width: 300px;
    height: 150px;
}
.contact_box label{
    text-align: center;
    color: orange;
    font-weight: bold;
    display: block;
}
.contact_btn{
    color: white;
    font-weight: bold;
    border-radius: 3px;
    height: 36px;
    padding: 0 5px;
    background-color: orange;
    text-decoration: none;
    border: 1px solid darkorange;
}
/*Contact box for mobile users*/
.mobile_contact_box{
    display: none;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;
    border-top: 1px solid #c1bebe;
    border-bottom: 1px solid #c1bebe;
}
.contact_id{
    text-align: center;
}
.contact_id p{
    color: orange;
    font-weight: bold;
}
/*Property Details end*/
/*Property Listing end*/
@media (max-width:1300px) {
    .contact_box{
        min-width: 200px;
    }
}
@media (max-width:500px) {
    .img_containers{
        height: 230px;
    }
    .property_container{
        width: 100%;
        margin: 0;
    }
    .property_info{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 85%;
        margin: 0 auto;
        margin-top: 10px;
    }
    .property_details{
        width: 85%;
        margin: 0 auto;
        height: 100%;
    }   
    .column .column_row{
        font-weight: normal;
        font-size: 18px;
    }
    .column_row.price {
        font-size: 20px;
        font-weight: bold;
    }
    .column.price{
        width: 100%;
        display: flex
    }
    .column .price_label{
        display: none;
    } 
    .contact_box{
        display: none;
    }
    .mobile_contact_box{
        display: flex;
    }
}
