/*Property Listing start*/
.property_container{
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;
}
/*Important class*/
.show{display: flex !important;}
/*Image containers start*/
.img_containers{
    height: 300px;
    width: 100%;
    display: flex;
    position: relative;
}
.img_containers ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide{
    width: 100%;
    height: 100%;
    opacity: 0;
    inset: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}
.slide[data-active]{
    opacity: 1;
    z-index: 2;
    transition-delay:0ms ;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0;
    top: 0;
    position: absolute;
}
.more_photos{
    position: absolute;
    top: 87%;
    right: 2%;
}
.more_photos button{
    border-radius: 4px;
    text-align: center;
    background: #333;
    border: 1px solid black;
    font-weight: bold;
    padding: 5px;
    color: white;
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
}
.more_photos button span{ font-weight: bold;   }
.img_containers .slide-btn{
    position: absolute;
    top:45%;
    /* left: 0px; */
    background-color: white;
    height: 48px;
    width: 28px;
    border: none;
    padding: 6px;
    cursor: pointer;
}
.img_containers .slide-btn.next{
    right: 0px;
}
.img_containers .slide-btn svg{
    transform: rotate(270deg);
}
.img_containers .slide-btn svg.chevron.left{
    transform: rotate(-270deg);
}
/**Image containers end/
/*Quick info start*/
.adress{
    display: flex;
    margin-top: 10px;
    width: 100%;
    align-items: flex-start;
}
.property_info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 8px;
}
.column{
    text-align: center;
}
.column .column_row{
    font-weight: bold;
    font-size: 22px;
}
sup{
    font-size: 13px;
}
.column label{
    color: #767676;
}
/**Quick info end/

/*Property Details start*/
.property_details{
    display: flex;
    justify-content: space-between;
    /* height: 900px; */
    margin-top: 16px;
}
.details_box{
    display: inline-block;
    max-width: 730px;
}
.details_box h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}
.details_box .installation{
    margin-top: 20px;
    margin-bottom: 20px;
    white-space: nowrap;
}
.installation .installation_list{
    column-count: 2;
}
.installation li::before{
    content: "• ";
}
/*Contact start*/
.contact_title{
    display: none;
}
.contact_box{
    position: sticky;
    top: 2rem;
    display: flex;
    justify-content: center;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    text-align: center;
    min-width: 300px;
    min-height: 150px;
    height: fit-content;
}
.contact_box label{
    text-align: center;
    color: orange;
    font-weight: bold;
    display: block;
}
.contact_box img{
    height: 50px;
    width: 50px;
}
.contact_btn{
    color: white;
    font-weight: bold;
    border-radius: 3px;
    height: 36px;
    padding: 0 5px;
    background-color: orange;
    text-decoration: none;
    border: 1px solid darkorange;
    cursor: pointer;
}
/*Contact box for mobile users*/
.mobile_contact_box{
    display: none;
    padding: 14px 0px; 
    position: sticky;
    bottom: 0;
    z-index: 5;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    /* border-top: 1px solid #d3cdcd;
    border-bottom: 1px solid #d3cdcd;  */
}
.mobile_contact_info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 30px;
}
.contact_id{
    text-align: center;
}
.contact_id p{
    color: orange;
    font-weight: bold;
}
/*Contact form start*/
.contact_form{
    display: none;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.contact_form  form{
    margin-top: 15px;
    padding: 5px 10px;
    max-width: 400px;
    min-width: 300px;
}
.contact_form  select{
    width: 100%;
    height: 35px;
    font-size: 17px;
    border: 1px solid #767676;
}
.contact_form  input{
    margin-top: 8px;
    height: 35px;
    width: 100%;
    font-size: 17px;
    padding: 8px;
    border: 1px solid #767676;
}
.contact_form  textarea{
    width: 100%;
    height: 120px;
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 8px;
    border: 1px solid #767676;
}
.contact_form button{
    color: white;
    font-weight: bold;
    border-radius: 3px;
    height: 36px;
    background-color: orange;
    text-decoration: none;
    border: 1px solid darkorange;
}
/*Contact form end*/
/*Contact end*/
/*Property Details end*/
/*Property Listing end*/
@media (max-width:900px) {
    img{
        width: 100%;
    }
    .container{
        display: none;
    }
}
@media (max-width:700px) {
    .img_containers{
        height: 230px;
    }
    .property_container{
        width: 100%;
        margin: 0;
    }
    .property_info{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 85%;
        margin: 0 auto;
        margin-top: 10px;
    }
    .property_details{
        width: 85%;
        margin: 0 auto;
        height: 100%;
    }   
    .column .column_row{
        font-weight: normal;
        font-size: 18px;
    }
    .column_row.price {
        font-size: 20px;
        font-weight: bold;
    }
    .column.price{
        width: 100%;
        display: flex
    }
    .column .price_label{
        display: none;
    } 
    .contact_box{
        display: none;
    }
    .mobile_contact_box{
        display: block;
    }
    .contact_title{display: block;}
}
