/*CSS for login registering and the userpage*/
/*Login start*/
html{
    height: 100%;
    width: 100%;
}
.sign-in_box{
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 85px;
}
form{
    margin: 0 auto;
}
select{
    background-color: white;
}
a{
    color: inherit;
    text-decoration: none;
}
button{
    cursor: pointer;
}
.userbox{
    width: 460px;
    text-align: center;
    padding: 30px;
    /* box-shadow: 0 0 12px 0 rgb(0 0 0 / 15%); */
    display: block;
    /* border-bottom: 1px solid rgb(216, 216, 216); */
}
h3{
    font-size: 28px;
    font-weight: normal;
}
.connexion{
    width: 100%;
    height: 45px;
    border-radius: 4px;
    font-size: 1.2rem;
    color: white;
    background-color: orange;
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
}
.userbox .forgot{
    margin-bottom: 16px;
}
.userbox .forgot a{
    text-decoration: none;
    color: black;
    font-weight: normal;
}
.userbox .forgot a:hover{
    text-decoration: underline;
    color: darkorange;
}
.login_field{
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: 0.6rem;
    font-size: 1.2rem;
    border: 1px solid rgb(133, 133, 133);
}
.login_field.textarea{
    height: 150px;
    margin: 0;
    font-family: arial;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 3px;
}
.error{
    color: red;
}
/*Registering start*/
.login_field.name{
    display: inline;
    width: 100%;
    margin-bottom: 0
}
.userbox ul{
    display: flex;
}
.userbox ul li{
    display: inline-block;
}
.userbox ul li:first-child{
    margin-right: 16px;
}
/*Registering end */
.connect_options{
    border-top: 1px solid rgb(209, 209, 213);
    padding: 16px 8px 0px;
}
.connect_options .login_button{
    width: 100%;
    display: block;
    margin: 1rem 0;
    height: 38px;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
}
.connect_options .login_button.btn-facebook{
    background-color: #006AFF;
    border-color: #1877f2;
    color: white;
}
.connect_options .login_button.btn-google{
    background-color: white;
}
.userbox .connect_options .login_button svg{
    position: absolute;
    left: 10%;
    height: 18px;
}
.link_text{
    color: orangered;
}
/*Login end*/
/*sidebar start*/
.sidebar_nav{
    /* background-color: orange; */
    background-color: var(--main-color);
    width: 20%;
    min-width: 300px;
    overflow: hidden;
}
.sidebar_nav ul{
    padding: 40px 0 0 40px;
    min-height: 20%;
    display: flex;
    flex-wrap: wrap;
}
.sidebar_nav li{
    width: 100%;
    margin-bottom: 20px;
}
.sidebar_nav li img{
    height: 70px;
}
.sidebar_nav li img.resize{
    width: 38px;
    margin: 0 15px;
}
.sidebar_nav a{
    color:white;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.showSideBarNav{
    /* display: block !important; */
    width: 240px !important;
}

/*sidebar end*/
/*Page headers start*/
.title{
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 6px;
}
.line{
    height: 5px;
    background-color: var(--main-color);
    width: 100px;
    margin: 0 0 20px;
}
/*Page headers end*/
/*Userpage start*/
.userpage{
    width: 100%;
    min-height: 100%;
    display: flex;
}
.userpage_content{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
/*My properties start*/
/*Properties start*/
.properties{
    width: 100%;
}
/*Property grid start*/
.properties_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
    justify-content: center;
    gap: 40px;
    padding: 0px 30px 20px;
    width: 100%;
}
/*Property box start*/
.property_box{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 4px 1px rgb(0, 0, 0, 30%);
    cursor: pointer;
}
.property_box img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.property_box .outer_stats{
    position: absolute;
    width: 300px;
    display: flex;
    justify-content: end;
}
.property_box .stats_container{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 10px;
    box-sizing: border-box;
    background: linear-gradient(45deg, black, transparent);
    border-bottom-left-radius: 8px;
    color:white;
}
.property_box .stats_container .stat{
    display: flex;
    align-items: center;
    margin: 0 5px 0 0;
}
.property_box .stats_container img{
    height: 25px;
    width: 25px;
    object-fit: contain;
    margin: 0 8px 0 0;
}
.property_box .flex{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    text-overflow: ellipsis;
    padding: 5px 0 0;
}
.property_box h3{
    font-weight: bold;
    font-size: 25px;
    padding: 10px 18px 0;
}
.property_box svg{
    height: 18px;
    width: 22px;
}
.property_box h4{
    padding: 4px 10px 0;
    font-size: 20px;
}
.property_box p{
    padding: 5px 10px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.property_box .btn_container{
    display: flex;
    justify-content: end;
    padding-right: 10px;
}
.property_box button{
    display: block;
    margin: 0 0 10px;
    background-color: var(--main-color);
    color: white;
    width: 80px;
    border: none;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
}
/*Property box end*/
/*Property grid end*/
/*Properties end*/
/*My properties end*/

/*Messages start*/
.messages .card{
    min-width:300px;
    max-width: 600px;
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 0 2px 2px rgb(0,0,0,30%);
}
.messages .card img{
    display: block;
    height: 60px;
    width: 60px;
    margin: 0 auto;
}
.messages .card label{
    display: block;
    text-align: center;
}
.messages .card p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    letter-spacing: 0.03rem;
    margin-bottom: 8px;
}
.messages .card .btn_container{
    display: flex;
}
.messages .card button{
    width: 50%;
    height: 40px;
    font-size: 18px;
    display: block;
    background-color: #eee;
    border: 1px solid black;
}
button.respond{
    color: orange;
    border-collapse: collapse;
}
.more{
    display: block;
    text-align: center;
    margin: 20px;
    cursor: pointer;
}
/*Messages end*/
@media (max-width:1030px) {
    .header_container{
        position: fixed;
    }
    .sidebar_nav{
        position: fixed;
        z-index: 3;
        width: 0;
        min-width: unset;
        transition: width .3s;
        height: 100%;
    }
    .sidebar_nav ul{
        padding: 40px 0 0 15px;
        /* display: none; */
    }
    .userpage{
        padding-top: 80px;
    }
}
@media (max-width:370px) {
    .userpage_content{
        width: 100%;
    }
    
}